<%-include('head.ejs')-%>
<!-- End of head -->
<%-include('header.ejs')-%>
<!-- End of header -->
<!-- Start of footer -->

<h1>문제</h1>
    <select id="language" name="language">
        <option value="1">C</option>
        <option value="2">C++</option>
        <option value="3">Java</option>
    </select>
    <p></p>
    <textarea id="code" style="resize:none; width:400px; height:300px;" name="code"></textarea>
    <p></p>
    <input id="output" type="text" name="output" style="resize:none; width:400px; height:50px;" readonly="readonly">
    <p></p>
    <input id="ajax_post" type="button" value="컴파일하기" class="ajaxsend">
    <p></p>
    <script>
        document.querySelector('.ajaxsend').addEventListener('click', function(){
            var language = document.getElementById('language').value;
            sendAjax('http://localhost:3000/writingPost', document.getElementById('code').value, language);
        });
    
        function sendAjax(url, data, language) { 
            //var data = {'code': data};
            //data = JSON.stringify(data);
            var requestData = {'code': data, 'language': language}; // 언어 정보 추가
            var jsonString = JSON.stringify(requestData);
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-type', 'application/json');
            //xhr.send(data);
            xhr.send(jsonString);
    
            xhr.addEventListener('load', function() {
                var result = JSON.parse(xhr.responseText);
                if (result.result !== 'ok') {
                    document.getElementById('output').value = result.error;
                    return;
                }
                document.getElementById('output').value = result.output;
            });
        }
    </script>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<%-include('footer.ejs')-%>